html,
body {
    background-color: #ececec;
    height: 100%;
}


nav {
    -webkit-box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.75);
}

nav img{
    width: 60px;
    height: 60px;
    margin-top: -18px;
}

#clientID{
    text-align: center;
}


#clientMENU{
    margin-top: 100px;
}

#tablePET td:last-child,
#tablePET th:last-child{
    text-align: right;
    width: 20px;
    
}

#btnFormPet{
    margin-right: 25px;
}

.tab-pane{
    margin-top: 10px;
}